
[project]
name = "my_app"
version = "0.1.0"
requires-python = ">=3.9"
dependencies = ["fastapi", "uvicorn[standard]", "sqlalchemy", "pydantic", "python-dotenv", "starlette>=0.46.1"]

[dependency-groups]
dev = [
    "pytest",
    "flake8",
    "black",
    "pre-commit",
    "alembic>=1.15.2",
]

[tool.pdm.scripts]
migrate = "alembic upgrade head"
makemigration = "alembic revision --autogenerate -m"